.App {
  text-align: center;
}

input {
  background-color: #dee0ea;
  border: 1px solid #dee0ea;
  width: 20%;
  height: 30px;
  padding-left: 20px;
}
.btn {
  height: 34px;
  background-color: #142473;
  color: #dee0ea;
  border: 1px solid #dee0ea;
}
.li {
  border: 1px solid #dee0ea;
  width: 25%;
  text-align: center;
  padding: 5px;
  display: inline-block;
  background-color: #142473;
  color: aliceblue;
}
